
@{
    ViewBag.Title = "passwordEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="animated fadeIn">
	<div class="row">
		<div class="col-lg-2">

		</div>
		<div class="col-lg-8">
			<div class="card">
				<div class="card-header">
					<strong>修改密碼</strong>
					@ViewBag.x
				</div>
				<div class="card-body card-block">
					<form action="" method="post" class="form-horizontal">
						<div class="row form-group">
							<div class="col col-md-3">
								<label for="oldpassword" class=" form-control-label">舊密碼</label>
							</div>
							<div class="col-12 col-md-9">
								<input type="password" id="oldpassword" name="oldpassword" placeholder="Enter Old Password..." class="form-control" value="">
							</div>
						</div>
						<br />
						<div class="row form-group">
							<div class="col col-md-3">
								<label for="newpassword" class=" form-control-label">新密碼</label>
							</div>
							<div class="col-12 col-md-9">
								<input type="password" id="newpassword" name="newpassword" placeholder="Enter New Password..." class="form-control" value="">
							</div>
						</div>
						<br />
						<div class="row form-group">
							<div class="col col-md-3">
								<label for="newpassword2" class=" form-control-label">確認新密碼</label>
							</div>
							<div class="col-12 col-md-9">
								<input type="password" id="newpassword2" name="newpassword2" placeholder="Enter New Password Again..." class="form-control" value="">
							</div>
						</div>
						<button type="submit" class="btn btn-primary float-right">變更密碼</button>
						@{
							var ifSuccess = ViewBag.ifSuccess;
							if (ifSuccess == true)
							{
								@Html.Raw("<span class=\"text-success\">修改成功!!</span>");
							}
							else if(ifSuccess == false)
							{
								@Html.Raw("<span class=\"text-danger\">輸入有誤!!</span>");
							}
						}
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

